@media all and (max-width: 1440px) {

	.container_flexbox_block_inner{
		height: 250px;
		width: 34%;
		font-size: 20px;
		padding: 20px;
	}
	
	.info_block_1_wrapper{
		width: 90%;
	}

	.info_block_1_text{
		width: 60%;
		line-height: 1.7;
	}
	.inf_block_opis_text{
		width: 85%;
	}
	.flex_stolbs{
		width: 50%;
		padding-left: 0px;
	}
	.color_text_stolb_box{
		padding-bottom: 0px;
	}

	.carusel{
		width: 90%;
	}
	.carusel img{
		width: 350px;
		height: 350px;
	}

	.carusel_window{
		width: 1130px
	}
	.item_prev{
		padding-right: 20px;
	}


	.effect-text-one>img{
		height: 480px;
	}

	figure.effect-text-one figcaption{
		height: 40%;
	}
	.figcaption_long{
		height: 48% !important;
	}
	.slider_2_imgs figure.effect-text-one figcaption{
		height: 30%;
	}
	.block_3_slider_wrapper{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	.block_3_TextBox{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	.modal_text{
		font-size: 22px;
	}
	.slider_text_posotion{
		justify-content: space-evenly;
	}
	.block_3_slider{
		padding-top: 20px;
	}

	.sldider_3_prev{
		height: 40px;
		width: 40px;
	}
	.sldider_3_prev > svg{
		margin-left: -5px;
		margin-top: -5px;
	}
	.sldider_3_next{
		height: 40px;
		width: 40px;
	}
	.sldider_3_next > svg{
		margin-left: -5px;
		margin-top: -5px;
	}

	/*block_4*/

	.block_4{
		padding-top: 50px;
		padding-bottom: 40px;
	}

	.block_4_wrapper{
		width: 70%;
		flex-wrap: wrap;
		align-content: space-between;
		
	}
	.block_4_column{
		width: 40%;
		margin-bottom: 50px;
	}

}


@media all and (max-width: 1200px) {
	.mega_wrapper{
		max-width: 970px;
	}

	figure.effect-text-one img{
		width: 780px;
	}


	.info_block_1_stolb_box{
		height: 220px;
	}
	.carusel img{
		width: 260px;
		height: 260px;
	}

	.carusel_window{
		width: 870px
	}
	

	.block_3_wrapper{
		flex-direction: column;
	}
	.block_3_slider_wrapper{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	.block_3_TextBox{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}


	.slider_text_posotion{
		justify-content: space-evenly;
	}
	.block_3_slider{
		padding-top: 20px;
	}

	.sldider_3_prev{
		height: 40px;
		width: 40px;
	}
	.sldider_3_prev > svg{
		margin-left: -5px;
		margin-top: -5px;
	}
	.sldider_3_next{
		height: 40px;
		width: 40px;
	}
	.sldider_3_next > svg{
		margin-left: -5px;
		margin-top: -5px;
	}
	.mini_text_stolb_box{
		font-size: 16px;
	}
	.block_4_column_mini_text{
		font-size: 16px;
	}
}

@media all and (max-width: 992px) {
	.mega_wrapper{
		max-width: 750px;
	}
	.header_romb{
		width: 15px;
		height: 15px;
	}
	.romb {
		width: 15px;
		height: 15px;
	}
	.page-header{
		width: 90%;
	}
	.nav{
		font-size: 25px;
	}
	.info_block_1_stolb_box{
		height: 280px;
		display: flex;
		flex-direction: column;
		align-content: center;
	}
	.mini_text_stolb_box{
		font-size: 20px;
	}
	.carusel{
		width: 80%;
	}
	.carusel_window{
		width: 790px;
	}
	.carusel img{
		width: 360px;
		height: 360px;
	}

	.sldider_3_prev {
		height: 50px;
		width: 50px;
	}
	.sldider_3_prev > svg {
		margin-left: 0px;
		margin-top: 0px;
	}
	.item_next {
		height: 50px;
		width: 50px;
	}
	.sldider_3_next > svg {
		margin-left: 0px;
		margin-top: 0px;
	}
	.effect-text-one{
		font-size: 20px;
	}
	figure.effect-text-one figcaption{
		height: 44%;
	}
	.figcaption_long{
		height: 49% !important;
	}
	.slider_2_imgs figure.effect-text-one figcaption{
		height: 35%;
	}
	.slider_2_С110{
		height: 55% !important;
	}
	.slider_2_DR30{
		height: 40% !important;
	}
	.slider_2_text{
		width: 500px;
		font-size: 24px;
	}
	.slider_3_text {
		width: 500px;
		font-size: 30px;
	}
	.block_3_BigText{
		font-size: 33px;
	}
	.block_3_MiniText{
		font-size: 24px;
	}
	.block_4_column_glav_text{
		font-size: 28px;
	}
	.block_4_column_mini_text{
		font-size: 18px;
	}
	.block_4_button{
		font-size: 22px;
		width: 80%;
	}
	.modal__body {
		width: 60%;
		max-width: 60%;
	}
	.modal__title{
		font-size: 30px;
	}
	.modal_text{
		font-size: 24px;
	}
	.footer_wrapper{
		font-size: 24px;
	}
}

@media all and (max-width: 767px) {
	.mega_wrapper{
		max-width: none;
	}
	

	.page-header {
		margin-top: 100px;
		width: 400px;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}
	.nav{
		display: flex;
		flex-direction: column;
		margin-top: 20px;
	}
	.swap_theme_flex{
		flex-direction: row;
		width: 100%;
		justify-content: space-around;
	}
	.swap_theme{
		height: 40px;
		width: 40px;
	}
	.sidebar {
		position: fixed;
		top: 0;
		right: -370px;
		width: 350px;
		height: 500px;
		transition: all 0.3s ease-out;
		background: rgb(0, 0, 0, 0.8);
	}

	.open {
		right: 50px; /* при открытии сайдбара меняем позицию */
	}

	.sidebar_wrapper {
		width: 90%;
		display: flex;
		justify-content: flex-end;
		z-index: 999; /* находится поверх сайдбара */
	}

	.github_akk > svg{
		display: flex;
		height: 70px;
		width: 70px;
		margin-left: 15px;
	}
	.header_romb{
		width: 25px;
		height: 25px;
	}
	.header_romb_flexbox{
		margin-left: 90px;
	}
	.conteiner_box{
		font-size: 44px;
	}
	.conteiner_box_text{
		font-size: 34px;
	}
	.container_flexbox_block_inner{
		font-size: 22px;
	}
	.romb {
		width: 25px;
		height: 25px;
	}

	.nav{
		font-size: 32px;
	}
	.info_block_1_wrapper{
		width: 90%;
		display: flex;
		flex-direction: column;
	}

	.info_block_1_text{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 80px;
	}

	.inf_block_big_text{
		font-size: 48px;
		text-align: center;
	}
	
	.inf_block_opis_text{
		font-size: 38px;
		margin-left: auto;
		margin-right: auto;
	}
	.flex_stolbs{
		width: 70%;
		margin-left: auto;
		margin-right: auto;
	}
	.info_block_1_stolb{
		width: 100%;
	}

	.romb_flexbox{
		display: flex;
		justify-content: center;
		margin-left: 50px;
	}
	.info_block_1_stolb_box{
		height: 380px;
		display: flex;
		flex-direction: column;
		align-content: center;
	}
	.mini_text_stolb_box{
		font-size: 28px;
	}
	.carusel{
		width: 85%;
	}
	.carusel_window{
		width: 860px;
	}
	.carusel img{
		width: 400px;
		height: 400px;
	}
	.carusel_item_prev{
		height: 60px;
		width: 60px;
	}
	.carusel_item_prev > svg{
		margin-left: 5px;
		margin-top: 5px;
	}
	.carusel_item_next > svg{
		margin-left: 5px;
		margin-top: 5px;
	}
	.sldider_3_prev {
		height: 60px;
		width: 60px;
	}
	.sldider_3_prev > svg {
		margin-left: 5px;
		margin-top: 5px;
	}
	.item_next {
		height: 60px;
		width: 60px;
	}
	.sldider_3_next > svg {
		margin-left: 5px;
		margin-top: 5px;
	}
	.effect-text-one{
		font-size: 25px;
	}
	figure.effect-text-one figcaption{
		height: 65%;
	}
	.figcaption_long{
		height: 73% !important;
	}
	.slider_2_imgs figure.effect-text-one figcaption{
		height: 50%;
	}
	.slider_2_С110{
		height: 67% !important;
	}
	.slider_2_DR30{
		height: 50% !important;
	}
	.slider_2_text{
		width: 500px;
		font-size: 36px;
	}
	.slider_3_text {
		width: 600px;
		font-size: 30px;
	}
	.block_3_BigText{
		font-size: 36px;
	}
	.block_3_MiniText{
		font-size: 30px;
	}
	.sldider_2_prev{
		height: 60px;
		width: 60px;
	}
	.sldider_2_prev >svg{
		margin-left: 5px;
		margin-top: 5px;
	}
	.sldider_2_next >svg{
		margin-left: 5px;
		margin-top: 5px;
	}
	.block_4_wrapper {
		flex-direction: column;
		align-content: center;
	}


	.block_4_column{
		width: 60%;
		margin-bottom: 100px;
	}

	.block_4_column_glav_text{
		font-size: 38px;
	}
	.block_4_column_mini_text{
		font-size: 30px;
	}
	.block_4_button{
		font-size: 32px;
		width: 80%;
		padding: 25px;
	}
	.modal__body {
		width: 70%;
		max-width: 70%;
	}
	.modal__title{
		font-size: 44px;
	}
	.modal_text{
		font-size: 38px;
	}
	.footer_wrapper{
		font-size: 34px;
	}
}